@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*VARIABLES*/
$main-font: 'Outfit', sans-serif;
$second-font: 'Montserrat', sans-serif;
$text-size: 14px;
$titles-size: 35px;

$primary-color: #2A3045;
$secondary-color: #101014;
$tertiary-color: #f5f5f0;
$quaternary-color: #1f2c33;
$quinary-color: rgb(225, 57, 16);

$title-color: $tertiary-color;

$text-color: $tertiary-color;
$second-text-color: $secondary-color;
$third-text-color: $primary-color;

$base-spacing: 1em;
$small-spacing: 0.5em;
$large-spacing: 2em;

$side-padding: 200px;

/*--------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $tertiary-color;
  background-color: #f5f0f0;
  @include flex(column, center, center, nowrap);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
  font-weight: 700;
  color: $quaternary-color;
}

p {
  font-size: $text-size;
  font-weight: 400;
  color: $text-color;
  font-family: $second-font;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: all 0.3s ease-in-out;
}