main {
  height: auto;
  width: 100%;
  @include flex(column, center, center, nowrap);
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $title-color;

  span {
    &:first-child {
      color: $tertiary-color;
      font-weight: bolder;
    }

    &:last-child {
      background-color: $primary-color;
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: $tertiary-color;
    }
  }
}

.card {
  max-width: 690px;
  width: 100%;
  height: auto;
  @include flex(column, center, center, nowrap);
  gap: 35px;
  background-color: $primary-color;
  border-radius: 10px;
  padding: $base-spacing;
  margin: $large-spacing 0;
  position: relative;

  p {
    color: $text-color;
  }

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    border-radius: 10px;
    z-index: -1;
  }

  form {
    width: 70%;
    @include flex(column, center, center, nowrap);
    gap: $base-spacing;

    .form-group {
      @include flex(column, center, start, nowrap);
    }

    input,
    textarea,
    select {
      width: auto;
      padding: $base-spacing;
      border: none;
      border-radius: 10px;
      background-color: $primary-color;
      color: $quaternary-color;
      font-size: $text-size;
      font-weight: 700;
      letter-spacing: 1px;
      outline: none;
      border: 2px solid $tertiary-color;
      transition: all ease-out 0.5s;

      &::placeholder {
        color: $tertiary-color;
      }

      &:focus {
        background-color: $tertiary-color;
        -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
        border-color: transparent;
      }
    }

    textarea {
      resize: none;
      height: 200px;
    }

    button {
      width: 100%;
      padding: $base-spacing;
      border: none;
      border-radius: 10px;
      background-color: $tertiary-color;
      color: $quaternary-color;
      font-size: $text-size;
      font-weight: 700;
      letter-spacing: 1px;
      outline: none;
      cursor: pointer;
      transition: ease-out 0.5s;

      &:hover {
        background-color: $quaternary-color;
        color: $tertiary-color;
      }
    }
  }

  a {
    font-weight: 700;

    &:hover {
      color: $quinary-color;
    }
  }

}

/*PAGE ACCUEIL*/

#header_image {
  width: 100%;
  min-height: 100vh;
  position: relative;
  @include flex(column, center, start, nowrap);
  background-color: rgba(12, 12, 12, 0.671);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/iut.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

#header_text {
  margin-left: 110px;
  margin-top: 80px;
  @include flex(column, center, start, nowrap);
  gap: 15px;

  a {
    @include btn($quaternary-color, $quinary-color);
  }

  #header_text h1  span:first-child{
    color: $primary-color;
  }

  #header_text h1 .span2{
    color: $primary-color;
  }

  .button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: $text-size;
    letter-spacing: 1px;
    text-decoration: none;
    color: $tertiary-color;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid $tertiary-color;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 $tertiary-color;
  }

  .button:hover {
    color: $quaternary-color;
    box-shadow: inset 0 -100px 0 0 $tertiary-color;
  }

  .button:active {
    transform: scale(0.9);
  }
}

h4 {
  color: $tertiary-color;
  letter-spacing: 1.5px;

}


/*--------------------*/

/*PAGE PASSWORD*/

.bloc {
  background-color: $quinary-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -11px 7px 0px rgba(0, 0, 0, 1);
  width: 450px;
  height: 500px;
  color: $tertiary-color;
  margin-top: 27px;

  h1 {
    color: $tertiary-color
  }

  .bloc__titre {
    text-align: center;
    margin-bottom: 65px;

  }

  label {
    display: block;
    margin-bottom: 15px;
  }

  input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: $secondary-color;
    color: $tertiary-color;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 22px);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;

    &:hover {
      background-color: $primary-color;
    }
  }
}


/*--------------------*/

/*PAGE CALENDRIER*/
.fc-direction-ltr {
  margin: 50px;
  width: 50%;
  border: 3px solid $secondary-color;
  padding: 10px;
  background-color: $primary-color;
}

.fc th {
  background-color: $quaternary-color !important;
}

.fc .fc-col-header-cell-cushion {
  color: white;
}

.fc .fc-daygrid-day-number {
  color: $tertiary-color !important;
}



.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255, 255, 0, 0.578);
}

.fc .fc-toolbar-title{
  color: $tertiary-color
}

/*--------------------*/

/* PAGE PROFIL*/

.card__profil__infos {
  padding: 20px;

  p {
      color: $text-color;
      margin-bottom: 10px;


  }

  a {
      color: $tertiary-color;
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;

      &:hover {
          color: $primary-color;
      }
  }
}


/*-------------------*/


/*PAGE CONTACT*/

/*--------------------*/



/*PAGE INSCRIPTION*/

#form-inscription, .form {
  @include flex(row, center, center, wrap);

  .form-group {
    flex: 1 0 120px;
  }
}

/*--------------------*/




/*----------------------PARTIE RESPONSIVE - MOBILE----------------------*/

@media only screen and (max-width: 767px) {

  #header_text {
    @include flex(column, center, center, nowrap);
    margin-left: 20px;
    margin-top: 40px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
  }

  h4 {
    font-size: 18px;
    /* Ajustez la taille de la police selon vos besoins */
  }

  .button {
    font-size: 16px;
    /* Ajustez la taille de la police selon vos besoins */
    padding: 12px 20px;
    /* Ajustez le rembourrage selon vos besoins */
  }
}


/*-----------------------------------------------------------------------*/