header {
  background-color: #F7F7F7;
  @include flex(row, space-around, center, wrap);
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  nav {
    @include flex(row, space-around, center, wrap);

    ul {
      @include flex(row, space-between, center, wrap);
      list-style: none;

      li {

        a {
          text-decoration: none;
          color: $text-color;
          text-transform: uppercase;
          padding: 1rem;
          @include animate(all, 0.3s);

          &:hover {
            color: $quinary-color;
          }
        }
      }
    }
  }

  >a {
    text-decoration: none;

    span {
      color: $quaternary-color;

      &:last-child {
        background-color: orange;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  #header__profil {
    @include flex(column, center, center, nowrap);
    position: relative;

    .menu__wrap {
      @include flex(column, center, center, nowrap);
      gap: $base-spacing;
      position: absolute;
      top: 130%;
      right: 0;
      width: auto;
      height: 0;
      background-color: $primary-color;
      border-radius: 10px;
      padding: $base-spacing;
      z-index: 1000;
      opacity: 0;
      // transition: height 0.3s ease-in-out;
      transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $secondary-color;
      }

      a {
        color: $title-color;
        &:hover {
          color: $quinary-color;
        }
      }

    }

    &:hover .menu__wrap {
      height: auto;
      opacity: 1;
      padding: 35px;
    }
  }
}

footer {
  background-color: $quaternary-color;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 15px 0;

  p {
    color: $second-text-color;
  }
}