@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*VARIABLES*/
/*--------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f5f5f0;
  background-color: #f5f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #f5f5f0;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #f5f5f0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #f5f5f0;
  transition: all 0.3s ease-in-out;
}

header {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #2A3045;
  text-transform: capitalize;
  padding: 1rem;
  transition: all 0.3s ease;
  font-size: 24px;
  font-weight: 700;
}
header nav ul li a:hover {
  color: rgb(225, 57, 16);
}
header > a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}
header > a span {
  color: #1f2c33;
}
header > a span:last-child {
  background-color: #2A3045;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
header > a .span2 {
  color: #f5f5f0;
}
header #header__profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
header #header__profil .menu__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
  position: absolute;
  top: 130%;
  right: 0;
  width: auto;
  height: 0;
  background-color: #2A3045;
  border-radius: 10px;
  padding: 0;
  z-index: 1000;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
header #header__profil .menu__wrap p {
  color: #f5f5f0;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
}
header #header__profil .menu__wrap p,
header #header__profil .menu__wrap a,
header #header__profil .menu__wrap hr {
  height: 0;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
header #header__profil .menu__wrap hr {
  border: none;
}
header #header__profil .menu__wrap::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2A3045;
}
header #header__profil .menu__wrap a {
  color: #f5f5f0;
  font-size: 14px;
}
header #header__profil .menu__wrap a:hover {
  color: rgb(225, 57, 16);
}
header #header__profil:hover .menu__wrap,
header #header__profil:hover p,
header #header__profil:hover a {
  height: auto;
  width: auto;
  opacity: 1;
}
header #header__profil:hover .menu__wrap {
  padding: 35px;
}
header #header__profil:hover hr {
  width: 100%;
  height: 1px;
  background-color: #939393;
  border: none;
  opacity: 1;
}

.menu-btn {
  display: none;
}

footer {
  background-color: #1f2c33;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 15px 0;
}
footer p {
  color: #f5f5f0;
}

.active {
  color: rgb(225, 57, 16);
}

@media only screen and (max-width: 767px) {
  a.anav {
    text-decoration: none;
    color: #101014;
    text-transform: capitalize;
    padding: 1rem;
  }
  .menu-btn {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger {
    width: 50px;
    height: 6px;
    background: #2A3045;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger::before, .menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #2A3045;
    border-radius: 5px;
    box-shadow: 0 2px 5px #101014;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger::before {
    transform: translateY(-16px);
  }
  .menu-btn-burger::after {
    transform: translateY(16px);
  }
  .menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  nav {
    padding: 0;
    margin: 0;
  }
  #monMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 147, 147, 0.498);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    right: 0;
    padding: 55px 0 0 0;
    margin: 0 0 0 -100%;
    transition: all 0.5s ease;
  }
  nav li {
    list-style: none;
    position: relative;
    font-size: 4vh;
    margin: 15px 0 15px 0;
  }
  nav li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    transition: all 0.8s ease;
  }
  .anav:hover {
    background-color: #2A3045;
    color: #f5f5f0;
    border-radius: 5px;
    transition: all 0.8s ease;
  }
  a.active {
    background-color: #f5f5f0;
    color: #2A3045;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .mobile-menu {
    margin-left: 0 !important;
  }
}
main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f5f5f0;
}
h1 span:first-child {
  color: #f5f5f0;
  font-weight: bolder;
}
h1 span:last-child {
  background-color: #2A3045;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #f5f5f0;
}

.card {
  max-width: 690px;
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  background-color: #2A3045;
  border-radius: 10px;
  padding: 1em;
  margin: 2em 0;
  position: relative;
}
.card path {
  fill: #f5f5f0;
}
.card p {
  color: #f5f5f0;
}
.card::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  background-color: #101014;
  border-radius: 10px;
  z-index: -1;
}
.card form {
  display: flex;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: wrap;
  flex-wrap: wrap;
  gap: 1em;
  align-items: stretch;
}
.card form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  flex: 1 0 100px;
}
.card form .input[type=email] {
  max-width: 650px !important;
  width: 100%;
}
.card form input,
.card form textarea,
.card form select {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 10px;
  background-color: #2A3045;
  color: #1f2c33;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  border: 2px solid #f5f5f0;
  transition: all ease-out 0.5s;
  color: #f5f5f0;
}
.card form input::placeholder,
.card form textarea::placeholder,
.card form select::placeholder {
  color: rgba(245, 245, 240, 0.4196078431);
}
.card form input[type=text]:focus {
  background-color: #2A3045;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 2px #ffffff;
  border-color: transparent;
}
.card form textarea {
  resize: none;
  height: 200px;
}
.card form button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f0;
  color: #1f2c33;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.card form button:hover {
  background-color: #1f2c33;
  color: #f5f5f0;
}
.card a {
  font-weight: 700;
}
.card a:hover {
  color: rgb(225, 57, 16);
}

/*PAGE ACCUEIL*/
#header_image {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  background-color: rgba(12, 12, 12, 0.671);
}
#header_image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/iut.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#header_text {
  margin-left: 110px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 15px;
}
#header_text a {
  text-transform: uppercase;
  text-decoration: none;
  color: #1f2c33;
  border: 2px solid rgb(225, 57, 16);
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 15px 35px;
  font-size: 14px;
}
#header_text a:hover {
  background-color: #f5f5f0;
  color: #1f2c33;
  border-color: transparent;
}
#header_text #header_text h1 span:first-child {
  color: #2A3045;
}
#header_text #header_text h1 .span2 {
  color: #2A3045;
}
#header_text .button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f5f5f0;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #f5f5f0;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #f5f5f0;
}
#header_text .button:hover {
  color: #1f2c33;
  box-shadow: inset 0 -100px 0 0 #f5f5f0;
}
#header_text .button:active {
  transform: scale(0.9);
}

h4 {
  color: #f5f5f0;
  letter-spacing: 1.5px;
}

/*--------------------*/
/*PAGE PASSWORD*/
.bloc {
  background-color: rgb(225, 57, 16);
  padding: 20px;
  border-radius: 8px;
  box-shadow: -11px 7px 0px rgb(0, 0, 0);
  width: 450px;
  height: 500px;
  color: #f5f5f0;
  margin-top: 27px;
}
.bloc h1 {
  color: #f5f5f0;
}
.bloc .bloc__titre {
  text-align: center;
  margin-bottom: 65px;
}
.bloc label {
  display: block;
  margin-bottom: 15px;
}
.bloc input[type=email] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.bloc input[type=submit] {
  background-color: #101014;
  color: #f5f5f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: calc(100% - 22px);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.bloc input[type=submit]:hover {
  background-color: #2A3045;
}

/*--------------------*/
/*PAGE CALENDRIER*/
#page_calendrier {
  margin: 50px;
}

.fc-direction-ltr {
  width: 53%;
  border: 3px solid #101014;
  padding: 10px;
  background-color: #2A3045;
}

.fc th {
  background-color: #1f2c33 !important;
}

.fc .fc-col-header-cell-cushion {
  color: white;
}

.fc .fc-daygrid-event-harness:hover {
  background-color: rgba(0, 0, 0, 0.285);
}

.fc .fc-daygrid-day-number {
  color: #f5f5f0 !important;
  margin-right: 20px;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(0, 255, 157, 0.5);
}

.fc .fc-toolbar-title {
  color: #f5f5f0;
}

#calendar-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
#calendar-section:last-child {
  align-items: stretch;
}

#calendar {
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#event-info {
  background-color: #2A3045;
  color: #f5f5f0;
  opacity: 0;
  transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  width: 0;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow-y: scroll;
  gap: 15px;
}
#event-info button {
  margin: 15px auto;
  width: 50%;
  padding: 1em;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f0;
  color: #1f2c33;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: ease-out 0.5s;
}
#event-info button:hover {
  background-color: #1f2c33;
  color: #f5f5f0;
}

.show {
  border: 3px solid #101014;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 10px;
  opacity: 1 !important;
  max-width: 500px !important;
  width: 100% !important;
  max-height: 750px;
  height: auto !important;
}

.event-info__close {
  cursor: pointer;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
  color: black;
  margin-bottom: 30px;
}

.event-passed {
  opacity: 0.7;
  /* Vous pouvez ajuster l'opacité pour indiquer qu'il est passé */
}

#legende {
  display: flex;
}

.circle_content {
  display: flex;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.texte_legende {
  color: #1f2c33;
  font-size: 18px;
}

#event-info__content_cirlce {
  display: flex;
}

strong {
  margin-right: 5px;
}

/*--------------------*/
/* PAGE PROFIL*/
.profil #profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 80%;
}
.profil #profil .profil__infos {
  flex: 1 0 200px;
  color: #f5f5f0;
  border: 1px solid #f5f5f0;
  padding: 10px;
  border-radius: 10px;
  background-color: #2A3045;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  border: 2px solid #f5f5f0;
}
.profil a {
  padding: 1em;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f0;
  color: #1f2c33;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.profil a:hover {
  background-color: #1f2c33;
  color: #f5f5f0;
}

/*-------------------*/
/*PAGE CONNEXION
/*--------------------*/
/*PAGE INSCRIPTION*/
#form-inscription,
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#form-inscription .form-group,
.form .form-group {
  flex: 1 0 120px;
}
#form-inscription .form-group2,
.form .form-group2 {
  width: 100%;
}

/*--------------------*/
/*PAGE FILTRER*/
.work-list {
  list-style: none;
  padding: 0;
}

.work-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: text-decoration 0.3s ease;
}

.work-item.selected {
  text-decoration: line-through;
}

/*--------------------*/
/*----------------------PARTIE RESPONSIVE - MOBILE----------------------*/
@media only screen and (max-width: 767px) {
  #calendar {
    width: 100%;
    table-layout: fixed;
  }
  /* Exemples d'ajustements pour les petits écrans */
  h1 {
    font-size: 2rem;
    /* Ajuster la taille de la police */
  }
  .card {
    width: 85%;
    /* Réduire la largeur de la carte pour les petits écrans */
  }
  .card form input,
  .card form textarea,
  .card form select {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: #2A3045;
    color: #1f2c33;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #f5f5f0;
    transition: all ease-out 0.5s;
    color: #f5f5f0;
  }
  #header_text {
    margin-left: 50px;
  }
  .fc-direction-ltr {
    width: 100%;
  }
  #page_calendrier {
    margin-right: 0px;
    margin-left: 0px;
  }
  /* ... autres ajustements pour les petits écrans ... */
}
/*svg*/
.svg2 {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle2 {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
/*-----------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
