{% extends 'base.html.twig' %}

{% block title %}Hello CalendrierController!
{% endblock %}
{% block body %}
	<main>
		<h1>CalendrierController</h1>
		<section id="calendar-section">
			<div id='calendar'></div>
			<div id='event-info' class=''></div>
		</section>
	</main>
{% endblock %}
