{% extends 'base.html.twig' %}

{% block title %}Hello CalendrierController!{% endblock %}
{% block body %}
    <div id='calendar'></div>
    <div class="" id='event-info'></div>
    
    
{% endblock %}
