{% extends 'base.html.twig' %}

{% block title %}Hello CalendrierController!{% endblock %}
{% block head %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
{% endblock %}
{% block body %}
    <div id='calendar'></div>
     {% block javascripts %}
        <script>document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth'
    });
    calendar.render();
  });

  </script>
    {% endblock %}
{% endblock %}



